
#bordering-round {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url('border.png') 30 round;
}

#bordering-strech {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url('border.png') 30 stretch;
}

#bordering-50 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url('border.png') 50 stretch;
}

#bordering-20 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url('border.png') 20% round;
}

#bordering-30 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url('border.png') 30% round;
}